<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Python Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <br><br>
      <h1 align="center">Python Project</h1>
      <div class="jumbotron">
        <form class="form" action="" method="post">
          <fieldset>
            <div class="form-group row">
              <div class="col-md-4 center">
                {{ form.c.label(class="form-label") }}
                {{ form.c(class="form-control") }}
              </div>
            </div>
          </fieldset>
          <legend>Data</legend>
          <fieldset>
            <div class="form-group row">
              <div class="col-md-6">
                {{ form.x1.label(class="form-label") }}
                {{ form.x1(class="form-control") }}
              </div>
              <div class="col-md-6">
                {{ form.y1.label(class="form-label") }}
                {{ form.y1(class="form-control") }}
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6">
                {{ form.x2.label(class="form-label") }}
                {{ form.x2(class="form-control") }}
              </div>
              <div class="col-md-6">
                {{ form.y2.label(class="form-label") }}
                {{ form.y2(class="form-control") }}
              </div>
            </div>
            </fieldset>
            <div id="extraData"></div>
          <button type="submit" class="btn btn-success">Create Graph</button>
          <button type="button" name="addData" class="btn btn-dark" id="addButton" style='float:right'>Add Data Point</button>
        </form>
      </div>
    </div>
    <script type="text/javascript">
      var i = 3;
      $('#addButton').on('click',function(event){
        if (i > 10){
          var div = '<div class="alert alert-danger">Max amount of points reached.</div>';
          $('#extraData').append(div);
          $('#addButton').addClass('disabled');
        } else {
          var div = '<fieldset><div class="form-group row"><div class="col-md-6"><label for="x'+i+'" class="form-label">X'+i+':</label><input type="text" name="x'+i+'" id="x'+i+'" class="form-control"></div><div class="col-md-6"><label for="y'+i+'" class="form-label">Y'+i+':</label><input type="text" name="y'+i+'" id="y'+i+'" class="form-control"></div></div></fieldset>';
          $('#extraData').append(div);
          i += 1;
        }
      });
    </script>
    <style>
      .center {
        margin: 0 auto;
      }
    </style>
  </body>
</html>
